html {
    box-sizing: border-box;
}


/* Emerson */
body{
    background-color: rgb(11, 27, 247);
}
#container {
    margin: 0 auto;
    width: 90%;
    background-color: rgba(0, 255, 255, 0.623);
    padding: 20px 0 5px 0;
    height: 60vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#container > div {

    width: 100%;
    height: 20vh;

    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}


#tower--1 {
background-image: url(./torre.png);
background-position-x: center;
background-position-y: center;
}

#tower--2 {
    background-image: url(./torre.png);
    background-position-x: center;
    background-position-y: center;
}

#tower--3 {
    background-image: url(./torre.png);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}
#ring--1, #ring--2, #ring--3, #ring--4, #ring--5{
    position: relative;
    animation:disco 500ms;
}
@keyframes disco{
0%{bottom: 70px};
100%{top: -40px};
}


#ring--1 {
    background-image: linear-gradient(to right, #ff0000, #ff6060);
    border-radius: 8px;
    width: 30%;
    height: 4vh;
    margin: 0 auto;
}

#ring--2 {
    background-image: linear-gradient(to right, #ffa500, #ffd530);
    border-radius: 8px;
    width: 45%;
    height: 4vh;
    margin: 0 auto;
}

#ring--3 {
    background-image: linear-gradient(to right, #ffff00, #ffff60);
    border-radius: 8px;
    width: 60%;
    height: 4vh;
    margin: 0 auto;
}

#ring--4 {
    background-image: linear-gradient(to right, #00ff00, #60ff60);
    border-radius: 8px;
    width: 75%;
    height: 4vh;
    margin: 0 auto;
}

#ring--5 {
    background-image: linear-gradient(to right, #0000ff, #6060ff);
    border-radius: 8px;
    width: 90%;
    height: 4vh;
    margin: 0 auto;
}



/* Yasmin */
header{
    padding: 5px;
    text-align: center;
    background-color: tomato;
    color: white;
}
h1{
    max-width: 230px;
    margin: 30px auto;
    font-size: 30px;
    
}
button{
    margin: 30px 45%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(179, 215, 247);
    border: 1px solid black;
}
#movimentos{
    text-align:center;
    margin: 20px;
}
#contar{
    padding: 5px 15px;
    font-weight: 1000;
    color: black;
    text-align: center;
}

.modal {
    margin: 0 auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 4;
    
  }
  #abrirModal p{
    border-radius: 10px;
    background: rgba(0, 191, 191, 0.8);
    color: white;  
    text-align: center;
    padding: 20px;
  }


@media (min-width: 480px) {

    #container {
        flex-direction: row;
    }

    #container > div {
        height: 60vh;
    }

    #container > div > div {
        height: 8vh;
    }
}
 

