html {
    box-sizing: border-box;
}


/* Emerson */

#container {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
}

#container > div {
    width: 33%;
    height: 120px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}


#tower--1 {
background-image: url(./torre.png);
background-position-x: center;
background-position-y: center;
}

#tower--2 {
    background-image: url(./torre.png);
    background-position-x: center;
    background-position-y: center;
}

#tower--3 {
    background-image: url(./torre.png);
    background-position-x: center;
    background-position-y: center;
}
#ring--1, #ring--2, #ring--3, #ring--4, #ring--5{
    position: relative;
    animation: disco 5s;
}
@keyframes disco{
0%{bottom: 70px};
100%{top: -40px};
}
#ring--1 {
    background-color: red;
    width: 30%;
    height: 20px;
    margin: 0 auto;
}

#ring--2 {
    background-color: orange;
    width: 45%;
    height: 20px;
    margin: 0 auto;
}

#ring--3 {
    background-color: yellow;
    width: 60%;
    height: 20px;
    margin: 0 auto;
}

#ring--4 {
    background-color: green;
    width: 75%;
    height: 20px;
    margin: 0 auto;
}

#ring--5 {
    background-color: blue;
    width: 90%;
    height: 20px;
    margin: 0 auto;
}



/* Yasmin */

button{
    margin: 30px 40%;
}

#movimentos{
    text-align:center;
    margin: 20px;
}
#contar{
    border: 2px solid black;
    padding: 5px 15px;
    font-weight: 1000;
    color: black;
    text-align: center;
}
.modal {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 4;
    
  }
  #abrirModal p{
    background: rgba(19, 0, 191, 0.8);
    color: white;  
    text-align: center;
  }
 